<div class="profile container">
	<%= form_for [@trip, @invite] do |f| %>
  	<%= f.collection_select(:user_id, @users, :id, :name) %>
  	<%= f.submit "Add Crew Member", class: "btn btn-default" %>
	<% end %>
</div>