<h1>Update Your Trip Information</h1>

<div class="container">
  <%= render 'form' %>

  <div class="link"><br>
  <%= link_to 'Back', trips_path %> | 
	<%= link_to "Delete Trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure you want to delete this trip?"} %>
  </div>
</div>