<h1>Edit Your Announcement</h1>

<div class="container">
	<%= render 'form' %>

	<div class="link links-on-bottom">
		<%= link_to 'Show', @announcement %> |
		<%= link_to 'Back', :back %>
	</div>
</div>